
/* moving header */

.mdl-layout__header-row {
  height: 50px;	
  overflow: hidden;
  position: relative;
 }
 .mdl-layout__header-row h3 {
  font-size: 3em;
  color: whitesmoke; 
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 50px;
  text-align: center;
  /* Starting position */
  -moz-transform:translateX(100%);
  -webkit-transform:translateX(100%);	
  transform:translateX(100%);
  /* Apply animation to this element */	
  -moz-animation: example1 15s linear infinite;
  -webkit-animation: example1 15s linear infinite;
  animation: example1 15s linear infinite;
 }
 /* Move it (define the animation) */
 @-moz-keyframes example1 {
  0%   { -moz-transform: translateX(100%); }
  100% { -moz-transform: translateX(-100%); }
 }
 @-webkit-keyframes example1 {
  0%   { -webkit-transform: translateX(100%); }
  100% { -webkit-transform: translateX(-100%); }
 }
 @keyframes example1 {
  0%   { 
  -moz-transform: translateX(100%); /* Firefox bug fix */
  -webkit-transform: translateX(100%); /* Firefox bug fix */
  transform: translateX(100%); 		
  }
  100% { 
  -moz-transform: translateX(-100%); /* Firefox bug fix */
  -webkit-transform: translateX(-100%); /* Firefox bug fix */
  transform: translateX(-100%); 
  }
 }


 /* picture & font formats */

 .mdl-layout-title{
  font-family: 'Bangers', cursive;
  font-size: 35px; 
  color: black ; 
 }

#gsw{
  height: 300px; 
  width: 300px; 
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
}

 ul {
   list-style: none; 
   
 }

 #lal{
   height: 290px;
   width: 290px; 
   -moz-border-radius:50%;
   -webkit-border-radius:50%;
 }

 #kd{
   height: 300px;
   width: 300px; 
   -moz-border-radius:50%;
   -webkit-border-radius:50%;
 }

 #ad{
   height: 300px; 
   width: 300px; 
   -moz-border-radius:50%;
   -webkit-border-radius:50%;
 }

 #westbrook{
  height: 300px; 
  width: 300px; 
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
 }

 #wade{
  height: 300px; 
  width: 300px; 
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
 }

 #kawhi{
  height: 300px; 
  width: 300px; 
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
 }

 #giannis{
  height: 300px; 
  width: 300px; 
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
 }

 #paul{
  height: 300px; 
  width: 300px; 
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
 }

 #embiid{
  height: 300px; 
  width: 300px; 
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
 }

 #harden{
  height: 300px; 
  width: 300px; 
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
 }
 h4 {
   margin-left: 140px; 
   font-family: 'Libre Baskerville', serif;
 }

