
/* moving header */

.mdl-layout__header-row {
  height: 50px;	
  overflow: hidden;
  position: relative;
 }
 .mdl-layout__header-row h3 {
  font-size: 3em;
  color: whitesmoke; 
  position: absolute;
  width: 220%;
  height: 220%;
  margin: 0;
  line-height: 50px;
  text-align: center;
  /* Starting position */
  -moz-transform:translateX 220%);
  -webkit-transform:translateX 220%);	
  transform:translateX 220%);
  /* Apply animation to this element */	
  -moz-animation: example1 15s linear infinite;
  -webkit-animation: example1 15s linear infinite;
  animation: example1 15s linear infinite;
 }
 /* Move it (define the animation) */
 @-moz-keyframes example1 {
  0%   { -moz-transform: translateX 220%); }
 220% { -moz-transform: translateX( 220%); }
 }
 @-webkit-keyframes example1 {
  0%   { -webkit-transform: translateX 220%); }
 220% { -webkit-transform: translateX( 220%); }
 }
 @keyframes example1 {
  0%   { 
  -moz-transform: translateX 220%); /* Firefox bug fix */
  -webkit-transform: translateX 220%); /* Firefox bug fix */
  transform: translateX 220%); 		
  }
 220% { 
  -moz-transform: translateX( 220%); /* Firefox bug fix */
  -webkit-transform: translateX( 220%); /* Firefox bug fix */
  transform: translateX( 220%); 
  }
 }


 /* picture & font formats */

 .mdl-layout-title{
  font-family: 'Bangers', cursive;
  font-size: 35px; 
  color: black ; 
 }

#gsw{
  height: 220px; 
  width: 220px; 
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
}

 ul {
   list-style: none; 
   
 }

 #lal{
   height: 220px;
   width: 220px; 
   -moz-border-radius:50%;
   -webkit-border-radius:50%;
 }

 #kd{
   height: 220px;
   width: 220px; 
   -moz-border-radius:50%;
   -webkit-border-radius:50%;
 }

 #ad{
   height: 220px; 
   width: 220px; 
   -moz-border-radius:50%;
   -webkit-border-radius:50%;
 }

 #westbrook{
  height: 220px; 
  width: 220px; 
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
 }

 #wade{
  height: 220px; 
  width: 220px; 
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
 }

 #kawhi{
  height: 220px; 
  width: 220px; 
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
 }

 #giannis{
  height: 220px; 
  width: 220px; 
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
 }

 #paul{
  height: 220px; 
  width: 220px; 
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
 }

 #embiid{
  height: 220px; 
  width: 220px; 
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
 }

 #harden{
  height: 220px; 
  width: 220px; 
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
 }
 h4 {
   margin-left: 90px; 
   font-family: 'Libre Baskerville', serif;
 }

#bullet{
  margin-left: 40px;
}